name: ci-golang-sonarcloud
on: 
  pull_request:
    branches: [ main, develop ]

jobs:
  run-ci-sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.25
      - name: Run tests
        run: go test -coverprofile=coverage.out